@model Training.Models.Database.User;

@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-md-8">
         @if(ViewBag.msg != null){
            <div class="alert alert-danger">
                @ViewBag.msg
            </div>
        }
        <div class="card">
            <div class="card-header">
                <span class="card-title fw-bold">Register</span>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control">
                        <span class="text-danger" asp-validation-for="Username"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <button type="submit" class="btn btn-primary px-4">Register</button>
                </form>
            </div>
        </div>
        <div class="text-center mt-3">
            <span>Do you already have account? Please <a asp-controller="Login" asp-action="Index">Login</a></span>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}