@model IEnumerable<Training.Models.Database.User>

<table class="table table-hovered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{int rowNo = 0;}
        @foreach (var user in Model)
        {
            <tr>
                <td>@(rowNo +=1)</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Role.Name</td>
                <td><a asp-controller="UserManage" asp-action="Upsert" asp-route-id="@user.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>