@model Training.Models.Database.User;

@{
    ViewData["Title"] = "Edit User";
}

<form method="post">
    <input hidden asp-for="Id">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="RoleId"></label>
        <select asp-for="RoleId" asp-items="ViewBag.RoleList" class="form-control">
            <option disabled selected>-- Select Role --</option>
        </select>
    </div>
    <button type="Submit" class="btn btn-primary">Change</button>
</form>