@{
    ViewData["Title"] = "Welcome Page";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card mt-4">
            <div class="card-header">
                <span class="card-title fw-bold">Welcome</span>
            </div>
            <div class="card-body">
               <span>Hello, @ViewBag.username. You're already logged in and welcome to Welcome Page.  Your User ID is @ViewBag.user_id</span>
            </div>
        </div>
    </div>
</div>