@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        @if(ViewBag.msg != null){
            <div class="alert alert-danger">
                @ViewBag.msg
            </div>
        }

        @if(TempData["Nologin"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Nologin"]
            </div>
        }

        @if(TempData["AfterRegister"] != null)
        {
            <div class="alert alert-success">
                @TempData["AfterRegister"]
            </div>
        }
        <div class="card">
            <div class="card-header">
                <span class="card-title fw-bold">Login</span>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="Username" class="form-label">Username</label>
                        <input type="text" name="Username" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input name="Password" type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                </form>
            </div>
        </div>
        <div class="text-center mt-3">
            <span>Don't have account yet? <a asp-controller="Register" asp-action="Index">Register</a></span>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}