<div class="row text-center">
    <div class="col">
        <h1 class="display-2 fw-bold" style="margin-top: 150px;">403 - Unauthorized</h1>
        <p>Looks like you wanna access the page that's you don't allowed. <br> Please back to <a asp-controller="Home" asp-action="Index">Home</a></p>
    </div>
</div>