@model Training.Models.Database.Role

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <button class="btn btn-success">Add</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

