@model IEnumerable<Training.Models.Database.Role>

<a asp-controller="Role" asp-action="Create">Create</a>
<table class="table table-hovered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{int rowNo = 0;}
        @foreach (var role in Model)
        {
            <tr>
                <td>@(rowNo +=1)</td>
                <td>@role.Name</td>
                <td><a asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>